.side-scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.graph-box {
  overflow: hidden;
  width: 400px;
  display: inline-block;
  margin-left: 20px;
}

.bar-chart {
  @extend .graph-box;
  width: 800px;
}
