.side-scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.graph-box {
  overflow: hidden;
  vertical-align: top;
  width: 400px;
  display: inline-block;
  margin-left: 20px;
}

.bar-chart {
  @extend .graph-box;
  width: 800px;
}

.line-chart {
  @extend .graph-box;
  width: 600px;
}

.esriPopup .titleButton.maximize {
   display: none;
}
