<div id="date-container">
	<h4>Select By Date Range</h4>
	<div class="input-daterange input-group" id="datepicker">
	    <input type="text" class="input-sm form-control" name="start" />
	    <span class="input-group-addon">to</span>
	    <input type="text" class="input-sm form-control" name="end" />
	</div>
</div>

<h4>Select By Taxa</h4>
<div id="taxa-tree" class="fancytree-radio">
	<ul id="treeData" style="display: none;">
		<!-- <input type="radio" value="Insecta"> -->
		<li id="Insecta" class="selected"> Insecta
		<ul>
		{% for order, families in taxa_tree.items %}
			<li id="{{ order|safe }}" class="">{{ order|safe }}
			<ul>
			{% for family, genuses in families.items %}
				<li id="{{ family|safe }}" class="">{{ family|safe }}
				<ul>
				{% for genus, specieses in genuses.items %}
					<li id="{{ genus|safe }}" class="">{{ genus|safe }}
					<ul>
					{% for species in specieses %}
						<li id="{{ species|safe }}" class="">{{ genus|safe }} {{ species|safe }}
					{% endfor %}
					</ul>

				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	</ul>
</div>

<h4>Select By Location</h4>
<div id="site-tree" class="fancytree-radio">
	<ul id="treeData" style="display: none;">
		<li id="ALL" class="selected"> All Locations
		<ul>
		{% for base, drainages in sites_tree.items %}
			<li id="{{ base|safe }}" class="">{{ base|safe }}
			<ul>
			{% for drainage, sites in drainages.items %}
				<li id="{{ drainage|safe }}" class="">{{ drainage|safe }}
				<ul>
				{% for site, samples in sites.items %}
					<li id="{{ site|safe }}" class="">{{ site|safe }}
					<ul>
					{% for sample in samples %}
						<li id="{{ sample|safe }}" class="">{{ sample|safe }}
					{% endfor %}
					</ul>

				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	</ul>
</div>

<script type="text/javascript">

$('#date-container .input-daterange').datepicker({
});

$(function(){
	$("#taxa-tree").fancytree({
		checkbox: true, // gives nodes checkboxes
		selectMode: 1, // option 3 selects or deselects all children
		icon: false, // gets rid of ugly icons
	});
	var node = $("#taxa-tree").fancytree("getRootNode");
	node.sortChildren(null, true);

    $("#site-tree").fancytree({
		checkbox: true, // gives nodes checkboxes
		selectMode: 1, // option 3 selects or deselects all children
		icon: false, // gets rid of ugly icons
	});
	var node = $("#taxa-tree").fancytree("getRootNode");
	node.sortChildren(null, true);

	$("form").submit(function() {
      // Render hidden <input> elements for active and selected nodes
      $("#taxa-tree").fancytree("getTree").generateFormElements();
      $("#site-tree").fancytree("getTree").generateFormElements();
      return true;
    });
});

// $(function(){
// 	$("#site-tree").fancytree({
// 		checkbox: true, // gives nodes checkboxes
// 		selectMode: 1, // option 3 selects or deselects all children
// 		icon: false, // gets rid of ugly icons
// 	});
// 	var node = $("#taxa-tree").fancytree("getRootNode");
// 	node.sortChildren(null, true);
// });

</script>
