<div class="container-fluid">

	<div class="row">
		<div class="col-sm-6">
			<div id="date-container">
				<h4>Select By Date Range</h4>
				<div class="input-daterange input-group" id="datepicker">
				    <input type="text" class="input-sm form-control" name="start" value="{{filter_object.date.start}}" readonly="readonly"/>
				    <span class="input-group-addon">to</span>
				    <input type="text" class="input-sm form-control" name="end" value="{{filter_object.date.end}}" readonly="readonly"/>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div id="season-list" class="">
				<h4>Select By Season</h4>
				<ul id="treeData" style="display: none;">
					<li id="Spring" class="{% if 'Spring' in filter_object.season %}selected{% endif %}"> Spring
					<li id="Summer" class="{% if 'Summer' in filter_object.season %}selected{% endif %}"> Summer
					<li id="Fall" class="{% if 'Fall' in filter_object.season %}selected{% endif %}"> Fall
					<li id="Winter" class="{% if 'Winter' in filter_object.season %}selected{% endif %}"> Winter
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h4>Select By Taxa</h4>
			<div id="taxa-tree" class="fancytree-radio">
				<ul id="treeData" style="display: none;">
					<!-- <input type="radio" value="Insecta"> -->
					<li id="order_name=NONE;family=NONE;genus=NONE;species=NONE" class="{% if lowest_levels.taxa == 'Insecta' %}selected{% else %}expanded{% endif %}" > Insecta
					<ul>
					{% for order, families in taxa_tree.items %}
						<li id="order_name={{order|safe}};family=NONE;genus=NONE;species=NONE" class="{% if filter_object.taxa.order_name == order %}{% if lowest_levels.taxa == order %}selected{% else %}expanded{% endif %}{% endif %}">{{ order|safe }}
						<ul>
						{% for family, genuses in families.items %}
							<li id="order_name={{order|safe}};family={{family|safe}};genus=NONE;species=NONE" class="{% if filter_object.taxa.family == family %}{% if lowest_levels.taxa == family %}selected{% else %}expanded{% endif %}{% endif %}">{{ family|safe }}
							<ul>
							{% for genus, specieses in genuses.items %}
								<li id="order_name={{order|safe}};family={{family|safe}};genus={{genus|safe}};species=NONE" class="{% if filter_object.taxa.genus == genus %}{% if lowest_levels.taxa == genus %}selected{% else %}expanded{% endif %}{% endif %}">{{ genus|safe }}
								<ul>
								{% for species in specieses %}
									<li id="order_name={{order|safe}};family={{family|safe}};genus={{genus|safe}};species={{species|safe}}" class="{% if filter_object.taxa.species == species %}selected{% endif %}">{{ genus|safe }} {{ species|safe }}
								{% endfor %}
								</ul>

							{% endfor %}
							</ul>
						{% endfor %}
						</ul>
					{% endfor %}
					</ul>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<h4>Select By Location</h4>
			<div id="site-tree" class="fancytree-radio">
				<ul id="treeData" style="display: none;">
					<li id="installation=NONE;drainage=NONE;name=NONE;sample_name=NONE" class="{% if lowest_levels.location == 'All Locations' %}selected{% else %}expanded{% endif %}"> All Locations
					<ul>
					{% for base, drainages in sites_tree.items %}
						<li id="installation={{base|safe}};drainage=NONE;name=NONE;sample_name=NONE" class="{% if filter_object.location.installation == base %}{% if lowest_levels.location == base %}selected{% else %}expanded{% endif %}{% endif %}">{{ base|safe }}
						<ul>
						{% for drainage, sites in drainages.items %}
							<li id="installation={{base|safe}};drainage={{drainage|safe}};name=NONE;sample_name=NONE" class="{% if filter_object.location.drainage == drainage %}{% if lowest_levels.location == drainage %}selected{% else %}expanded{% endif %}{% endif %}">{{ drainage|safe }}
							<ul>
							{% for site, samples in sites.items %}
								<li id="installation={{base|safe}};drainage={{drainage|safe}};name={{site|safe}};sample_name=NONE" class="{% if filter_object.location.name == site %}{% if lowest_levels.location == site %}selected{% else %}expanded{% endif %}{% endif %}">{{ site|safe }}
								<ul>
								{% for sample in samples %}
									<li id="installation={{base|safe}};drainage={{drainage|safe}};name={{site|safe}};sample_name={{sample|safe}}" class="{% if filter_object.location.sample_name == sample %}selected{% endif %}">{{ sample|safe }}
								{% endfor %}
								</ul>

							{% endfor %}
							</ul>
						{% endfor %}
						</ul>
					{% endfor %}
					</ul>
				</ul>
			</div>
		</div>
	</div>

</div>






<script type="text/javascript">

var change_filter_button = function(){
  $( "#filter-button" ).switchClass("btn-primary", "btn-warning");
}

$('#date-container .input-daterange').datepicker().on("changeDate", change_filter_button);

$(function(){
	$("#season-list").fancytree({
		checkbox: true, // gives nodes checkboxes
		selectMode: 3,
		icon: false, // gets rid of ugly icons
		// Because there is > 1 tree on this page
		cookieId: "fancytree-season",
      	idPrefix: "fancytree-season-",
      	select: change_filter_button,
	});

	$("#taxa-tree").fancytree({
		checkbox: true, // gives nodes checkboxes
		selectMode: 1,
		icon: false, // gets rid of ugly icons
		// Because there is > 1 tree on this page
		cookieId: "fancytree-taxa",
      	idPrefix: "fancytree-taxa-",
      	select: change_filter_button,
	});
	var node = $("#taxa-tree").fancytree("getRootNode");
	node.sortChildren(null, true);

    $("#site-tree").fancytree({
		checkbox: true, // gives nodes checkboxes
		selectMode: 1,
		icon: false, // gets rid of ugly icons
		// Because there is > 1 tree on this page
		cookieId: "fancytree-site",
      	idPrefix: "fancytree-site-",
      	// Change filter button on click
      	select: change_filter_button,
	});
	var node = $("#taxa-tree").fancytree("getRootNode");
	node.sortChildren(null, true);

	$("form").submit(function() {
      // Render hidden <input> elements for active and selected nodes
      $("#season-list").fancytree("getTree").generateFormElements();
      $("#taxa-tree").fancytree("getTree").generateFormElements();
      $("#site-tree").fancytree("getTree").generateFormElements();
      return true;
    });
});

// $(function(){
// 	$("#site-tree").fancytree({
// 		checkbox: true, // gives nodes checkboxes
// 		selectMode: 1, // option 3 selects or deselects all children
// 		icon: false, // gets rid of ugly icons
// 	});
// 	var node = $("#taxa-tree").fancytree("getRootNode");
// 	node.sortChildren(null, true);
// });

</script>
