<div id="bar-chart-label" class="graph-box bar-chart">
  <div id="stackedBarChart"></div>
</div>
<div id="pie-chart-label" class="graph-box">
  <div id="pieChart"></div>
</div>
<div id="line-chart-label" class="graph-box line-chart">
  <div id="lineChart"></div>
</div>

<script type="text/javascript">
  // Placeholder charts
  var chart = c3.generate({
    bindto: '#stackedBarChart',
    title: 'asdf',
    data: {
        x: 'x',
        columns: {{bar_chart|safe}},
        type: 'bar',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        groups: [[
          {% for d in bar_chart %}
            {% if d.0 != 'x' %}
              '{{d.0}}',
            {% endif %}
          {% endfor %}
        ]],
    },
    axis: {
      x: {
        type: 'category',
        label: 'locations'
      },
      y: {
        label: '# of unique species'
      }
    },
    grid: {
        y: {
            lines: [{value:0}],
        }
    },
    size: {
      width: 800,
      height: 400,
    }
  });

  var chart = c3.generate({
    bindto: '#pieChart',
    data: {
        columns: {{pie_chart|safe}},
        type : 'pie',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    size: {
      width: 400,
      height: 400,
    }
  });

  var chart = c3.generate({
    bindto: "#lineChart",
    data: {
        x: 'x',
        xFormat: '%m-%d-%Y',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        columns : {{line_chart|safe}},
    },
    size: {
      width: 600,
      height: 400,
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y'
        },
        label: {
          text: 'year',
        }
      },
      y: {
        label: {
          text: '# of sampled species',
        }
      }
    },
  });

  $("#bar-chart-label").prepend('<h3 align="middle">Distinct Taxa per Location</h3>');
  $("#pie-chart-label").prepend('<h3 align="middle">Distribution of Distinct Taxa</h3>');
  $("#line-chart-label").prepend('<h3 align="middle">Biodiversity Sampling Observations</h3>');
</script>
