<div id="stackedBarChart" class="graph-box bar-chart"></div>
<div id="pieChart" class="graph-box"></div>
<div id="lineChart" class="graph-box"></div>

<script type="text/javascript">
  // Placeholder charts
  var chart = c3.generate({
    bindto: '#stackedBarChart',
    data: {
        x: 'x',
        columns: {{bar_chart|safe}},
        type: 'bar',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        groups: [[
          {% for d in bar_chart %}
            {% if d.0 != 'x' %}
              '{{d.0}}',
            {% endif %}
          {% endfor %}
        ]],
    },
    axis: {
      x: {
        type: 'category',
      }
    },
    grid: {
        y: {
            lines: [{value:0}]
        }
    },
    size: {
      width: 800,
      height: 400,
    }
  });

  var chart = c3.generate({
    bindto: '#pieChart',
    data: {
        columns: {{pie_chart|safe}},
        type : 'pie',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    size: {
      width: 400,
      height: 400,
    }
  });

  var chart = c3.generate({
    bindto: "#lineChart",
    data: {
        x: 'x',
        xFormat: '%m-%d-%Y',
        empty: {
          label: {
            text: "No datapoints found for this filter range."
          }
        },
        columns : {{line_chart|safe}},
    },
    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y'
        }
      }
    },
  });
</script>
